.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    margin: 32px 0 32px 0;
}

.message_icon{
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.message_icon img{
    border-right: 1px solid #0ABF04;
    padding-right: 30px;
}

.contact_form{
    margin-left: 10px;
}

.contact_form h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.contact_form label{
    margin: 0 15px 0 0;
}

.contact_form input{
    margin: 5px 10px 5px 0;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.contact_form textarea{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    height: 150px;
    border: none;
}

.btnSend{
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #0ABF04;
    background-color: #0ABF04;
    padding: 5px;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
    color: white;
}

.btnSend:hover{
    border: 1px solid #0ABF04;
    background-color: white;
    color: black;
    transition: all .3s ease-out;
}