* {
    margin: 0;
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 50px;
    margin: 10px 15px 10px 20px;
    border-right: 1px solid #0ABF04;
    padding-right: 10px;
}

.logo h1{
    font-size: 40px;
    padding-right: 5px;
}

.menu{
    margin-right: 25px;
}

.btnNav{
    margin: 0 5px 0 5px;
    padding: 7px;
    font-size: 18px;
}

.btnNav:hover{
    opacity: 0.6;
    border-bottom: 1px solid #7DD979;
    transition: .5s;
}
